<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Now We Wait...</title>
</head>
<body>
    <div class="login-container">
        <h2>Awesome!</h2>
        <strong><em>We are glad you can join us!</em></strong><br><br>

        An email has been sent to you with the Google Calendar link. Please check your email and add the event to your calendar.
        You will also soon receive an email with the name of the person you will be buying a gift for and the gift the person wishes to recieve. <br><br>

        <a href="https://discord.gg/Zw7dTutn">Join the Discord for more info!</a>
        
        <h3>Please keep it a secret!</h3>
    </div>
</body>
</html>